PORT=3005
NODE_ENV=development
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/medsphere?schema=public
JWT_ACCESS_SECRET=your_access_secret
JWT_REFRESH_SECRET=your_refresh_secret
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
MAX_ACCESS_FAILED_COUNT=5
ADMIN_FIRST_NAME=System
ADMIN_LAST_NAME=Admin
ADMIN_EMAIL=admin@medsphere.local
ADMIN_PASSWORD=change_this_password
ADMIN_PHONE_NUMBER=
